<h1 class = demo>Welcome to the Angular JS Batch 9</h1>

<!--{{title}}-->

<!-- <app-binding></app-binding> -->

<!-- <app-directives></app-directives> -->

<!-- <app-template-form></app-template-form> -->

<!-- <app-reactive-form></app-reactive-form> -->

<!-- <app-angularpipe></app-angularpipe> -->

<!-- <app-task1></app-task1> -->

<!-- <app-lifecycle></app-lifecycle> -->

<!-- <app-service-data></app-service-data> -->

<!-- <app-service-data2></app-service-data2> -->

<!-- <app-rxjs-operators></app-rxjs-operators> -->

<app-promise></app-promise>

<!-- <app-service-data1></app-service-data1> -->







