<p>promise works!</p>
<!-- 13. Angular Promises:
	Promises has been added in ES6.
	Promises are async or parellal flow of execution which can handle single event at a time.
o	e.g.: 1...2...3...4...5... ===> observable response
o	12345 ====> Promise response

	Promises gives only one value.
	Promises has two states:
o	Running state:
	resolve(): It means promise has been successfully executed.
	reject(): It means promise has not been successfully executed.

o	Pending state: promise is yet to execute.
	promises can not be cancelled.
	Promises are used to handle http calls. 


Difference Between Observables and Promises:
Observables	Promises
Obs: Can handle multiple events at a time.
	prom: can handle single event at a time.
obs: lazy in nature
	prom: quicker in nature.
obs: obs are cancellable.
	prom: obs are not cancellable.

obs: came from package RxJS
	prom: added in ES6.
obs: need to subscribe.
	prom: no need to subscribe
obs: can handle next, complete, error
	prom: can handle either resolve or reject.
-->
